// These are the all important white space settings
// $gutterwidth is for horizontal spacing, $baselineheight is for vertical rhythm

$gutterwidth            = 24px
$baselineheight         = 1.5em

// maximum width to maintain readable line lengths

$maxwidth               = 90em


// TEXTURE  ===============================================

// define borders
// these will be inherited by many styles
$bordercolor            = $neutralcolor
$borderstyle            = solid
$borderwidth            = 1px
$borderradius           = 3px