
// COLOR  ======================================================

// define color palette
// $primarycolor = #CC0000
$primarycolor           = #434A54
$secondarycolor         = #AAB2BD
$tertiarycolor          = #656D78
$quaternarycolor        = #FFDD55

// backgrounds
$containerBG            = #F6F6F6
$containerBGSecondary   = #434a54

// We want an 'almost black' $black, leaving room for an 'almost' white
$black                  = #111111
$lightblack             = #333333
$white                  = rgb(255,255,255)

// Hyperlinks, this is a brighter version of the primary
$linkcolor              = darken($primarycolor, 5%)
$linkcolorhover         = darken($linkcolor, 10)
$linkcolorvisited       = darken($linkcolorhover, 10)
$linkcolorfocus         = darken($linkcolorvisited, 10)

$lightlinkcolor         = $midneutralcolor
$lightlinkcolorhover    = $white
$lightbluelinkcolor     = #0677b1

// These will be used to style alerts and buttons
$alertcolor             = rgb(218,79,73)
$errorcolor             = $primarycolorfour
$infocolor              = rgb(216,220,162)
$inversecolor           = rgb(65,65,65)
$successcolor           = rgb(188,212,222)
$warningcolor           = $errorcolor

// This is the standard shadow
$baseshadow             = 0px 0px 2px rgba(0,0,0,0.24)
$baseglow               = 0px 0px 2px rgba(255,255,255,0.24)




// ATMOSPHERE  ==============================================

// define colors for pages and text

$bodycolor              = #FFFFFF
$textcolor              = #111111
