// TYPOGRAPHY  ================================================

// define design's typography
$basefontfamily         = -apple-system, "Aktiv Grotesk", "aktiv-grotesk", sans-serif;
$basefontsize           = 1
baseLineHeight          = 1.5

fontSize($font-size = $basefontsize)
  font-size: ($font-size * 16)px
  font-size: ($font-size)em

// Heading weight - bold (600)
$baseheadingfontweight   = 500

// Heading text color  - inherit color
$baseheadingfontcolor     = inherit
$basefontbackgroundcolor  = $lightestneutralcolor

// Alternative typeface (eg: for buttons, form inputs and tables)
$altfontfamily          = "Helvetica Neue", Helvetica, Arial, sans-serif
$altlineheight          = 1.35em

// Special typeface just for ampersands
$ampfontfamily          = local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua')

//  For API section of site
$codefont               = Monaco, Courier New, monospace